<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RealCheck{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- 🔹 predict.html에서만 script.js를 로드 -->
    {% if "predict" in request.path %}
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    {% endif %}
</head>
<body>
    <header>
        <a href="/" class="logo">RealCheck</a> 
        <nav>
            <ul>
                <div id="auth-buttons">
                    <li><a href="/">홈</a></li>
                    <li><a href="/predict">허위매물판별</a></li>
                    
                    <!-- 로그인 상태에 따라 버튼이 바뀜 -->
                    <li><a href="#" id="login-btn" >로그인 / 회원가입</a></li>
                    <li class="dropdown">
                        <a href="#" id="mypage-btn">My Page</a>
                        <div id="mypage-dropdown" class="dropdown-content">
                            <a href="/mypage">내 계정 보기</a>
                            <a href="#", id="logout-btn">로그아웃</a>
                        </div>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>📊 RealCheck가 더 똑똑해지는 중...🔧</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</body>
</html>

